.productdetails{
    width: 100vw;
    max-width: 100%;
    padding: 6vmax;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    
    
}
.left,.right{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vmax;
    box-sizing: border-box;

    
    
}

.leftCaro{
    width: 90%;
    height: auto;
    
    
    
    
}
.CarouselImage{
    width: 100%;

    
    
}



.right{
    align-items: flex-start;
}


.detailsBlock-1 > h2{
    color: grey;
    font: 600 1.6vmax "Roboto";
}

.detailsBlock-1 > p {
    color: lightslategrey;
    font: 200 0.8vmax cursive;
}

.detailsBlock-2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 70%;
    padding: 1vmax 0;
    
    
}

.detailsBlock-2-span {
    font: 200 1vmax cursive;
    /* margin: 0 5px; */
}

.detailsBlock-3{
    width: 70%;
}

.detailsBlock-3 > h1 {
    color: tomato;
    font: 400 2vmax "Franklin Gothic Medium";
    margin: 1vmax 0;
}

.detailsBlock-3-1{
    display: flex;
    align-items: center;
}
.detailsBlock-3-1-1 > button {
    border: none;
    background-color: orange;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    margin: 0 5px ;
    padding: 1vmax;
    
}

.detailsBlock-3-1-1 > button:hover{
    background-color: darkorange ;
}

.detailsBlock-3-1-1 > input {
    border: none;
    padding: 1vmax;
    width: 1.5vmax;
    text-align: center;
    outline: none;
    color: darkslategrey;
    font: 400 1vmax "Roboto";
}



.detailsBlock-3-1 > button:last-child {
    border: none;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    background-color: coral;
    font: 500 1vmax "Roboto";
    border-radius: 20px;
    padding: 0.8vmax 2vmax;
    margin: 1vmax;
    outline: none;
}

.detailsBlock-3-1 > button:last-child:hover {
    background-color: rgb(251, 67, 0);
}


.detailsBlock-3 > p {
    border-top: 1px solid Darkgray;
    border-bottom: 1px solid Darkgray;
    padding: 1vmax 0;
    color: gray;
    font: 400 1.3vmax "Roboto";
    margin: 1vmax 0;
}


.detailsBlock-4 {
    color: darkslategray;
    font: 600 1.3vmax sans-serif;
}

.detailsBlock-4 > p{
    color: gray;
    font: 300 1vmax sans-serif ;


}


.submitReview{
    border: none;
    background-color: seagreen;
    font: 500 1.1vmax "Roboto";
    border-radius: 20px;
    padding: 0.8vmax 1.5vmax;
    margin: 1vmax 0;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
    text-align: center;
}

.submitReview:hover {
    background-color: lightseagreen;
    transform: scale(1.1);
}



.submitDialog {
    display: flex;
    flex-direction: column;
}

.submitDialogTextArea {
    border: 1px solid lightgray;
    margin: 1vmax 0;
    outline: none;
    padding: 1rem;
    font: 300 1rem "Roboto";
}




.reviewsHeading{
    color: darkslateblue;
    font: 500 1.4vmax "Roboto";
    text-align: center;
    border-bottom: 1px solid lightslategray;
    padding: 1vmax;
    width: 20vmax;
    margin: auto;
    margin-bottom: 4vmax;
}

.reviews{
    display: flex;
    overflow: auto;
    
}

.reviewCard{
    flex: none;

    box-shadow: 0 0 5px gray;
    border: 1px solid lightgray;
    width: 30vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vmax;
    padding: 3vmax;
    gap: 10px;
}

.reviewCard > img {
    width: 5vmax;
    border-radius: 100%;
}

.reviewCard > p {
    color: gray;
    font: 600 0.9vmax "Roboto";
}

.reviewCardComment {
    color: grey;
    font: 300 0.8vmax cursive;
}

.noreviews{
    font: 400 1.5vmax "Gill Sans";
    text-align: center;
    color: grey;
}


@media screen and (max-width: 600px) {


    .productdetails {
        flex-direction: column;
        height: unset;
    }

    .right{
        align-items: center;
    }

    .detailsBlock-1 > h2 {
        font-size: 2.8vmax;
        text-align: center;
    }

    .detailsBlock-1 > p {
        text-align: center;
        font-size: 1vmax;
    }

    .detailsBlock-2 {
        justify-content: center;
        align-items: center;
    }

    .detailsBlock-2 > span{
        font-size: 1.3vmax;
    }

    .detailsBlock-3 > h1 {
        font: 700 3vmax "Franklin Gothic Medium";
        text-align: center;
    }

    .detailsBlock-3-1{
        flex-direction: column;
    }
    .detailsBlock-3-1-1{
        padding: 2vmax 0;
    }

    .detailsBlock-3-1-1 > button{
        padding: 1.5vmax;
        width: 4vmax;
        border-radius: 5px 0 5px 0px;
        margin: 0 5px ;
    }
    .detailsBlock-3-1-1 > input{
        padding: 1.5vmax;
        width: 3vmax;
        font: 400 1.8vmax "Roboto";
        border-radius: 5px ;

        
    }
    .detailsBlock-3-1 > button:last-child {
        font: 500 1.7vmax "Roboto";
        padding: 1.5vmax;
        width: 15vmax;
        margin: 3vmax 0;
    }

    .detailsBlock-3 > p {
        padding: 2.5vmax 0;
        text-align: center;
        font: 400 2vmax "Roboto";
    }

    .detailsBlock-4 {
        font: 500 2.5vmax sans-serif;
    }

    .detailsBlock-4 > p{
        font: 300 1.8vmax sans-serif;
    }

    .submitReview {
        font: 500 1.7vmax "Roboto";
        padding: 1.5vmax;
        width: 15vmax;
        margin: 3vmax 0;
    }

    .reviewCard > p {
        font: 600 3vw "Roboto";
    }

    .reviewCardComment {
        font: 300 5vw cursive;
    }


    
}



/* 

.right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vmax;
    box-sizing: border-box;
    
}

*/