.forgotPasswordContainer{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 0;
    background-color: whitesmoke;
}

.forgotPasswordBox{
    background-color: white;
    width: 30vw;
    height: 40vh;
    box-sizing: border-box;
    overflow: hidden;

}

.forgotPasswordheading {
    color: gray;
    text-align: center;
    font: 400 1.3vmax "Roboto";
    padding: 1.3vmax;
    border-bottom: 1px solid turquoise;
    width: 50%;
    margin: auto;
}



.forgotPasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
}






.forgotPasswordForm > div {
    display: flex;
    width: 100%;
    align-items: center;
}

.forgotPasswordForm > div > input {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
    font: 300 1vmax cursive;
    outline: none;
}

.forgotPasswordForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.8vmax;
    color: turquoise;
}





.forgotPasswordBtn {
    border: none;
    background-color: turquoise;
    color: white;
    font: 400 1vmax "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.forgotPasswordBtn:hover {
    background-color: darkcyan;
}




@media screen and (max-width: 600px) {
    .forgotPasswordContainer {
        background-color: white;
    }
    .forgotPasswordBox {
        width: 100vw;
        height: 95vh;
    }



    .forgotPasswordForm {
        padding: 5vmax;
    }

    .forgotPasswordForm > div > input {
        padding: 2.5vmax 5vmax;
        font: 300 1.7vmax cursive;
    }

    .forgotPasswordForm > div > svg {
        font-size: 2.8vmax;
    }



    .forgotPasswordBtn {
        font: 300 1.9vmax "Roboto";
        padding: 1.8vmax;
    }






    
}