.orderSuccess{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    height: 50vh;
    padding: 10vmax;
}

.orderSuccess > svg {
    font-size: 7vmax;
    color: green;
}

.orderSuccess > p {
    font-size: 2vmax;
}

.orderSuccess > a {
    background-color: black;
    color: white;
    margin: 2vmax;
    cursor: pointer;
    text-decoration: none;
    font: 400 1vmax "Roboto";
    padding: 1vmax 3vmax;
    border: none;
}

@media screen and (max-width: 600) {
    .orderSuccess > a {
        padding: 3vw 6vw;
        font: 400 4vw "Roboto";
        margin: 2vmax;
    }


    .orderSuccess > svg {
        font-size: 20vw;
    }

    .orderSuccess > p {
        margin: 2vmax;
        font-size: 5vw;
    }




}