.bannar{
    background-image: url("../../images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;

}

.bannar h1 {
    margin: 5vmax;

    font: 600 2.5vmax "Roboto";
}

.bannar p {
    font: 300 1.5vmax "Lucida Sans";
    font-size: x-large;

}

.bannar a button{
    margin-bottom: 5vmax;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 0;
    padding: 1vmax;
    transition: all 0.5s;
    width: 9vmax;
    font: 500 1vmax "Roboto";
    background-color: white;
    text-decoration: none;

}
.bannar a button:hover {

    color: white;
    background-color: transparent;
    text-decoration: none;

}

.bannar::after{
    content: "";
    width: 100vw;
    height: 100vmin;
    background-color: white;
    position: absolute;
    top:0;
    left: 0;
    max-width: 100%;
    clip-path: polygon(100% 66%, 0% 100%, 100% 100%);

}


/* ------------------------------/////////----------------- */

.homeHeading{
    text-align: center;
    font-family: Roboto;
    font-size: 1.5vmax;
    border-bottom: 1px solid #000;
    width: 20vmax;
    padding: 1vmax;
    margin: 5vmax auto;
}

.container{
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}



.productCard{
    width: 15vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: darkslategrey;
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
}
.productCard > img {
    width: 15vmax;
}

.productCard > div {
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.productCardSpan {
    margin-top: 0.2vmax;
    font: 300 0.8vmax "Roboto";
    align-self: center;
    justify-content: center;
    text-align: center;
}

.productCard > p {
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
}

.productCard > span {
    margin: 0.5vmax 0.5vmax;
    color: tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5vmax;
}

.productCard:hover{
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    transform: translateY(-1vmax);
}

/* __________Phone________ */

@media screen and (max-width: 600px) {

    .bannar p {
        max-width: 50%;
    
    }

    .productCard > p{
        font-size: 1.7vmax;
    }
    .productCard > div{
        margin: 0vmax;
        display: block;
    }
    .productCard > span{
        font-size: 1.5vmax;
    }
    .productCard > div > span{
        margin: 0 0.5vmax;
        font:300 1vmax "Roboto";

    }
    
}